$icon-sprite-dimensions: true;
$icon-layout: smart;
$icon-sprite-base-class: '.icon';
@import "icon/*.png";
@include all-icon-sprites;

[class*="icon-"] {
  @extend .icon;
  display: inline-block;
  vertical-align: middle;
}
